# Assignment 01

Q1. Create one variable containing following types of data  :
1. string
2. list
3. float
4. tuple

In [1]:
stringvariable = "String"
listvariable = [2,3,4,3.4]
floatvariable = 2.5
tuplevariable = (2,3,4,3.5)

Q2. Given are some following variables containing data:
1. var1 = ' '
2. var2 = '[ DS, ML, Python ]'
3. var3 = ['DS', 'ML', 'Python']
4. var4 = 1

In [3]:
var1 = ' '

type(var1)

str

In [4]:
var2 = '[ DS, ML, Python ]'
type(var2)

str

In [5]:
var3 = ['DS', 'ML', 'Python']
type(var3)

list

In [6]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example :
1. /
2. %
3. //
4. **

In [7]:
4/5

0.8

In [8]:
4%5

4

In [9]:
4//5

0

In [10]:
4**5

1024

Q4. Create a list of length 10 of your choice containing multiple types of the data. Using for loop print the elements and its datatype.

In [12]:
secondlist = [2,3,4,5,6,"Agam",2.3,3+3j]
for i in secondlist:
    print("The datatype of ", i, " is " , type(i))

The datatype of  2  is  <class 'int'>
The datatype of  3  is  <class 'int'>
The datatype of  4  is  <class 'int'>
The datatype of  5  is  <class 'int'>
The datatype of  6  is  <class 'int'>
The datatype of  Agam  is  <class 'str'>
The datatype of  2.3  is  <class 'float'>
The datatype of  (3+3j)  is  <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [13]:
A = int(input("Enter the value of A  :"))
if A%3==0:
    print(A, " is divisible by 3")

Enter the value of A  :3
3  is divisible by 3

Q6. Create a list containing 25 int type data. using for loop and if else condition print if the element is divisible by 3 or not.

In [14]:
thirdlist = list(range(25))
for i in thirdlist:
    if i%3==0:
        print(i, " is divisible by 3")
    else:
        print(i, " is not divisibel by 3")

0  is divisible by 3
1  is not divisibel by 3
2  is not divisibel by 3
3  is divisible by 3
4  is not divisibel by 3
5  is not divisibel by 3
6  is divisible by 3
7  is not divisibel by 3
8  is not divisibel by 3
9  is divisible by 3
10  is not divisibel by 3
11  is not divisibel by 3
12  is divisible by 3
13  is not divisibel by 3
14  is not divisibel by 3
15  is divisible by 3
16  is not divisibel by 3
17  is not divisibel by 3
18  is divisible by 3
19  is not divisibel by 3
20  is not divisibel by 3
21  is divisible by 3
22  is not divisibel by 3
23  is not divisibel by 3
24  is divisible by 3

Q7. what do you understand about mutable and immutable data types? give examples for both showing this property.

Answer : String is an immutable datatye because in string we cannot reassign the value of any data/character at any step index in a string, to change the string, we have to give it a new value. whereas, list is a mutable datatype, where we can reassign the value of any data at any step index.

In [15]:
stringvariable  = "Immutable"
stringvariable[1]='s'

TypeError: 'str' object does not support item assignment

In [16]:
listvariable = ['m', 'u','t','a','b','l','e']
listvariable[0]='Is_very_m'

In [17]:
print(listvariable)

['Is_very_m', 'u', 't', 'a', 'b', 'l', 'e']