# ASSIGNMENT 19 - Pandas Adv 2 - DSM2.0 - PWSKILLS

Consider following code to answer further questions:

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df find the output for both new_df.loc[2] and new_df.iloc[2].

#### Did you observe any difference in both the outputs? If so then explain it.

In [2]:
#answer 1
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df.iloc[1, 0:2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is change in the outputs becuase of the working of the function `loc[]` and `iloc[]` is different from one another.
The `loc[]` function returned the data present at the row 'having index value 0' whereas the `iloc[]` function returned the data present at the row 'present at the index 2'.

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:

In [7]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.431913  0.423291  0.599105  0.829003  0.679826  0.123139
2  0.295830  0.992707  0.433367  0.301044  0.195355  0.052808
3  0.775112  0.333460  0.468993  0.025699  0.945388  0.644318
4  0.140188  0.891720  0.168730  0.048160  0.546762  0.750332
5  0.816549  0.860534  0.029971  0.018818  0.341689  0.462719
6  0.250451  0.567217  0.928294  0.897779  0.542296  0.808911

In [9]:
df1.mean()

column_1    0.451674
column_2    0.678155
column_3    0.438077
column_4    0.353417
column_5    0.541886
column_6    0.473705
dtype: float64

In [10]:
df1['column_2'].std()

0.2734566855101293

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [11]:
df1['column_2'][1]='Changed'

In [12]:
df1['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

The execution the the stamement, `df1['coulumn_2'].mean()` gives error beacuse of the presence of the string literal in the column, when the data is collected to find the mean, the stinf object cannot be added to string, thus the compiler gives th error.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

A window function performs actions to the a row or a column elements as a subset.
It is used with alot fo aggregrate functions like, `mean()`, `sum()`, `std()`. 

There are three types of window functions in python - 
1. `.rolling()`
2. `.expanding()`
3. gorupby

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [13]:
from datetime import date

In [14]:
cur_date = date.today()

In [15]:
print("The current month is ",cur_date.month," and the current year is ", cur_date.year)

The current month is  9  and the current year is  2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [16]:
def delta():
    a =str(input("Enter the 1st date : "))
    b =str(input("Enter the 2nd Date : "))
    d1 = pd.to_datetime(a)
    d2 = pd.to_datetime(b)
    delta = d2-d1
    print("The difference is : ", delta.days," days.")

In [17]:
delta()

Enter the 1st date : 2023-12-01
Enter the 2nd Date : 2024-12-02
The difference is :  367  days.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
def cate(df, col, cat):
    df[col]=pd.Categorical(df[col], categories=cat)

In [ ]:
path = input("Enter the file path : ")
col = input("Enter the column name : ")
cat = input("Enter the category order : ").split(",")
df = pd.read_csv(path)
cate(df,col,cat)
sort = df.sort_values(by=[column_name])
print(sort)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
print("Hello")

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualise(file):
    df.read_csv(file)
    df['date']=pd.to_datetime(df['date'])
    df.set_index('date', inplace =True)
    
    ax = df.plot(kind=bar)
    plt.xlabel('date')
    plt.ylable('Sales')
    plt.title("sales vs date")
    plt.show()

file=input("Enter the file path : ")
visualise(file)