# ASSIGNMENT 17- PANDAS BASICS - PWS -DSM2.0

### Q1. Create a Pandas Series that contains the following data : 4,8,15,16,23 and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
#creating a list that we will convert into a series.
sample = [4, 8 , 15, 16, 23, 42]
#converting the above list into the serieds by using Series command.
series1 = pd.Series(sample)

In [3]:
#print the series series1
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable to print it.

In [4]:
list_var = [9,8,7,6,5,4,3,2,1,0]
pd.Series(list_var)

0    9
1    8
2    7
3    6
4    5
5    4
6    3
7    2
8    1
9    0
dtype: int64

### Q3.Create a Pandas Dataframe that contains the following data:

### __Name__          __Age__         __Gender__
### Alica                       25                       Female
### Bob                        30                       Male
### Claire                     27                       Female

### Then print the dataframe.

In [5]:
sampledf = pd.DataFrame([["Name", "Age", "Gender"], ["Alica", 25, "Female"], ["Bob", 30, "Male"], ["Claire", 27, "Female"]])

In [6]:
print(sampledf)

        0    1       2
0    Name  Age  Gender
1   Alica   25  Female
2     Bob   30    Male
3  Claire   27  Female

###  Q4. What are 'DataFrame' in pandas and how is it different form pandas.series? Explain with an example.

Dataframe are collection of data in a structured way. They are special datafromes which can be used to store special data in hte form of the tables. They can store files of different kinds like, csv, excel, html etc. Dataframe can also be made through read_filename command or directly passsing the information as as arguments. adtaframed can also be made through pandas.series, which are like list with indices. Datafram can be expressed as collection of series. Where series contain only one column dataframe can have alot of columns, each column can be expressed as an individual series. For example let's see the following code-

In [7]:
import pandas as pd
#series as an indexed list
list_var = ['a','b','c','d','e']
#declaring a series of the this above list -
series_var = pd.Series(list_var) 
#printing this series -
print(series_var)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
#creating some more series - 
series_var2 = pd.Series(['a1','b2','c3','d4','e5'])
series_var3 = pd.Series(['a2','b3','c3','d5','e6'])
#creating dataframe of above three series - 
dataframe_var= pd.DataFrame([series_var,series_var2,series_var3])

In [9]:
#printing the above DataFrame - 
print(dataframe_var)

    0   1   2   3   4
0   a   b   c   d   e
1  a1  b2  c3  d4  e5
2  a2  b3  c3  d5  e6

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

The some of the common fucntions that we use to manipulate the data in the pandas dataframe is :  

1. `head()` - This function is used to display first n rows of the dataframe.

In [12]:
dataframe_var.head(3)

    0   1   2   3   4
0   a   b   c   d   e
1  a1  b2  c3  d4  e5
2  a2  b3  c3  d5  e6

2. `tail()` - Display the last n rows of the dataframe.

In [13]:
dataframe_var.tail(1)

    0   1   2   3   4
2  a2  b3  c3  d5  e6

3. `loc()` - access the group of rows and column by labels.

4. `iloc()` - to aces the rows and column by integer positions.

In [19]:
dataframe_var.iloc[1:2, 0:3]

    0   1   2
1  a1  b2  c3

5. `drop()` - remove specific rows or columns from the dataframe.

In [20]:
dataframe_var.drop(columns=[0])

    1   2   3   4
0   b   c   d   e
1  b2  c3  d4  e5
2  b3  c3  d5  e6

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

`Dataframe` is mutable which means you can add, update, delete the contents in it / modify it. 
`Series` are also somewhat mutable on the basis of changing the values of each element individually.
`Panel` is not mutable at all.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
s1 = pd.Series([1,2,3,4,5,6,7])
s2 = pd.Series(['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s3 = pd.Series([9,8,7,6,5,4,3])
df = pd.DataFrame([s1,s2,s3])

In [22]:
df

   0  1  2  3  4  5  6
0  1  2  3  4  5  6  7
1  a  b  c  d  e  f  g
2  9  8  7  6  5  4  3