# ASSIGNMENT 12 - MySQL - DSM2.0 - PWSKILLS

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a software that basically, stores and retireve the data.
Database helps us to store the data in an organised and maintainable way.
Data can be structured or unstructured.
It also helps to manipulate and make changes in the data.

Difference between SQL and NoSQL databases:
    1. SQL - SQL databases are those databases which uses SQL (Structured Querry Language) for the storage, access and manipulation of the data. Example - MySQL.
    2. NoSQL - NoSQL databases are those which does not use SQL for the storage, acess and manipulation of the data, instead uses other methods. Example - MongoDB.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL - DDL (Data Definition Language): DDL statements are used to define and manage the structure of the database. They are responsible for creating, altering, and dropping database objects such as tables, indexes, views, and constraints. Examples of DDL statements include CREATE, ALTER, and DROP.

Connecting tothe MySQL

In [28]:
import mysql.connector


mydb = mysql.connector.connect(
                host = "localhost",
                user = "root",
                password = "2003")

mycursor = mydb.cursor()

CREATE - Command used to Create any database and table in MySQL server.
WE can see by the following example of creating a table in selected database test1:

In [29]:
mycursor.execute("CREATE TABLE if not exists test1.test_table(c1 INT, c2 INT, c3 VARCHAR(50), c4 FLOAT)")

to see the table is created

In [31]:
mycursor = mydb.cursor()
mycursor.execute("USE test1")
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('test_table',)

ALTER - Alter is used to change in or create a new column in a table.

In [ ]:
mycursor.execute("ALTER TABLE test1.test_table ADD COLUMN c5 INT AFTER c4")

to see the changes, lets add some data

In [33]:
mycursor.execute("insert into test1.test_table values(123, 23, 'agam', 23.3, 22)")
mydb.commit()

In [34]:
mycursor.execute("SELECT * FROM test1.test_table")

In [35]:
for i in mycursor:
    print(i)

(123, 23, 'agam', 23.3, 22)

The value 22 is in column c5, that was altered by ALTER command.

In [39]:
mycursor.execute("SELECT c5 FROM test1.test_table")

In [40]:
for i in mycursor:
    print(i)

(22,)

TRUNCATE - truncate will delete all the data from the table:

In [41]:
mycursor.execute("TRUNCATE test1.test_table")

In [42]:
mycursor.execute("SELECT * FROM test1.test_table")
for i in mycursor:
    print(i)

NO output means - NO data.

DROP - Will delete the table.

In [43]:
mycursor.execute("DROP TABLE test1.test_table")

In [45]:
mycursor.execute("CREATE TABLE if not exists test1.test_table2(c1 INT, c2 INT, c3 VARCHAR(50), c4 FLOAT)")

In [46]:
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('test_table2',)

Hence, test_table1 is deleted.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML (Data Manipulation Language): DML statements are used to manipulate the data within the database. They allow you to insert, update, delete, and retrieve data from tables. Examples of DML statements include INSERT, UPDATE, DELETE, and SELECT.

INSERT - Insert command is used to add some data into the table.

In [49]:
mycursor.execute("insert into test1.test_table2 values(123, 23, 'agam', 23.3)")
mydb.commit()

to see that result:

In [50]:
mycursor.execute("SELECT * FROM test1.test_table2")
for i in mycursor:
    print(i)

(123, 23, 'agam', 23.3)

UPDATE - update is used where the data is to be updated. Like to change the value of any data at any row.

In [53]:
UPDATE = "UPDATE test1.test_table2 SET c3 = 'nitai' WHERE c2 = 23"
mycursor.execute(UPDATE)

now, after updating

In [54]:
mycursor.execute("SELECT * FROM test1.test_table2")
for i in mycursor:
    print(i)

(123, 23, 'nitai', 23.3)

In [55]:
mycursor.execute("insert into test1.test_table2 values(143, 24, 'agam', 24.3)")
mydb.commit()

DELETE - To delete any row we use delete command.

In [57]:
delete = "DELETE FROM test1.test_table2 WHERE c2 = 23"
mycursor.execute(delete)

In [58]:
mycursor.execute("SELECT * FROM test1.test_table2")
for i in mycursor:
    print(i)

(143, 24, 'agam', 24.3)

### Q4. What is DQL? Explain SELECT with an example.


DQL (Data Query Language): DQL statements are a subset of DML statements and are specifically used for querying and retrieving data from the database. The most common DQL statement is SELECT, which allows you to specify the data you want to retrieve from one or more tables based on certain conditions.

In [59]:
mycursor.execute("SELECT * FROM test1.test_table2")
for i in mycursor:
    print(i)

(143, 24, 'agam', 24.3)

### Q5. Explain Primary Key and Foreign Key

A primary key is a unique identifier for each record in a table. It ensures that each row in the table can be uniquely identified and serves as a reference point for other tables. Typically, a primary key is composed of one or more columns that have unique values and cannot be null.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key in one table refers to the primary key in another table, creating a link between the two.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# This code is used to connect to the MySQL.

import mysql.connector


mydb = mysql.connector.connect(
                host = "localhost",
                user = "root",
                password = "2003")

mycursor = mydb.cursor()

`cursor()` method is used to create a cursor object, which acts as a handle or pointer to the result set of a database query. The cursor allows you to navigate and manipulate the data returned by the query. It provides methods to fetch individual rows, iterate over the result set, and perform various operations on the data.
`execute()` method is used to execute a database query or command. It takes a SQL statement as input and sends it to the database for execution. The statement can be a SELECT query to retrieve data, an INSERT or UPDATE query to modify data, or any other valid SQL command supported by the database.

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT/OFFSET